@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-200;
  }
}

/* Hide Google Translate Banner and Frame */
.goog-te-banner-frame,
iframe.goog-te-banner-frame,
.goog-te-balloon-frame {
  display: none !important;
}

body {
  top: 0px !important;
}

.goog-te-gadget,
#google_translate_element {
  display: none !important;
  visibility: hidden !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  box-shadow: none !important;
}
